/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Work+Sans:wght@400;500;600;700&display=swap");

/* utilities */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  line-height: 26px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 30px;
}

section {
  margin-top: 120px;
}

h2 {
  font-size: 40px;
  line-height: 47px;
  font-weight: 700;
  color: #151414;
}

p {
  font-size: 1rem;
  line-height: 26px;
  margin: 1rem 0;
  color: #444343;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  transition: 200ms;
}

img {
  width: 100%;
  height: auto;
}

/* header section starts */
#header {
  width: 100%;
  height: 810px;
  max-height: 100vh;
  background-image: url("/images/banner/banner3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner {
  position: relative;
  width: 100%;
  height: 100%;
}

.banner-info {
  position: absolute;
  top: 50vh;
  right: 0;
  transform: translateY(-25vh);
  width: 525px;
  text-align: right;
}

.banner-title {
  font-size: 65px;
  line-height: 77px;
  color: #fff;
}

.banner-description {
  color: #fff;
}

.button {
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 0.7rem 1.8rem;
  margin-top: 1rem;
  background-color: #fff;
  border: 1px solid #fff;
  color: #005fac;
  border-radius: 5px;
  cursor: pointer;
}
/* header section ends */

/* failures section starts */
.last-year-information {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  gap: 87px;
}

.profile-pic {
  flex-basis: 50%;
  max-width: 569px;
  object-fit: cover;
}

.failures-info {
  max-width: 416px;
  flex-basis: 50%;
  margin-bottom: 80px;
}

.failures-info-title {
  margin-bottom: 24px;
}

.failures .list-item {
  margin-bottom: 8px;
}

.failures .list-item i {
  color: #50dbb4;
  margin-right: 5px;
}
/* failures section ends */

/* my plan section starts */
.section-header {
  text-align: center;
  margin-bottom: 50px;
}

.my-plan-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.my-plan {
  text-align: center;
}

.my-plan img {
  width: 93px;
}

.myplan-title {
  font-size: 30px;
  margin-top: 24px;
}

.my-plan-text {
  color: #737272;
  font-weight: 500;
}
/* my plan section ends */

/* contact section starts */
.contact-section {
  width: 100%;
  padding: 3.9rem;
  border: none;
  border-radius: 10px;
  background-image: url("/images/gradient1.png"), url("/images/watch.png");
}

.contact-section-title {
  color: #fff;
}

.contact-button {
  padding: 0.8rem 1.8rem;
  color: #005fac;
  background-color: #fff;
  font-size: 20px;
  font-weight: 600;
  border: 2px solid #005fac;
  margin-top: 24px;
  border-radius: 5px;
}
/* contact section ends */

footer {
  margin-top: 120px;
  padding: 80px 0;
  background-color: #151414;
}

.contact-and-subscription {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
}

.social-info {
  flex-basis: 70%;
  max-width: 485px;
}

.social-info > h2,
.social-info > p {
  color: #fff;
}

.social-links {
  display: flex;
  align-items: center;
}

.social-links li {
  margin: 0 8px;
}

.social-links li a > img {
  width: 46px;
}

.subscription {
  flex-basis: 30%;
}

.subscription > h4 {
  font-size: 25px;
  color: #fff;
  margin-bottom: 31px;
}

input#email {
  width: 100%;
  padding: 1rem;
  background: transparent;
  border: 1px solid #737272;
  border-radius: 5px;
}

.button-blue {
  font-family: "Inter", sans-serif;
  border: 1px solid #005fac;
  background-color: #005fac;
  color: #fff;
}

/*
font-family: 'Inter', sans-serif;
font-family: 'Work Sans', sans-serif;
*/
